/** 사이트 공통 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
*{ box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline:none;}
html { font-size: 13px;}
body { margin: 0; padding: 0; }
ul,ol {list-style: none; margin:0; padding:0; }
dl, dt, dd {margin: 0; padding: 0;}
a {text-decoration: none;}
img { border: 0;}

/** 프론트 화면 크기(너비, 높이, 정렬) */
.layout_width {max-width: 1300px; min-width: 1100px; margin: 0 auto; padding: 0 10px; }
/** 기본 스타일 */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='file'] {border: 1px solid #A6A6A6; width: 100%; height: 45px; padding: 0 10px;
 border-radius: 3px;}

 input[type='checkbox'] {display: none;}
 input[type='checkbox']+label { min-height:32px; line-height: 1; padding: 3px 0 3px 33px;
 background:url("../../image/chk-off.png") no-repeat left center;}
 input[type='checkbox']:checked+label {background:url("../../image/chk-on.png") no-repeat left center;}

  input[type='radio'] {display: none;}
  input[type='radio']+label { min-height:24px; line-height: 1; padding: 3px 0 3px 25px;
  background:url("../../image/radio-off.png") no-repeat left center;}
  input[type='radio']:checked+label {background:url("../../image/radio-on.png") no-repeat left center;}

.dn{display:none !important;}

 /** 기본 약관 스타일*/
 .terms {height: 200px; overflow-y: scroll; border: 1px solid #d5d5d5; padding: 10px; border-radius: 3px;
 word-break: break-all;}